{% extends 'templates/app.twig' %}
{% block title %}
  {{title}}
{% endblock %}
{% block page_title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>
        <header>islam</header>
        <section>hello</section>
    </h1>
{% endblock %}
