<html>
<style type="text/css">
    #map_canvas {
        height: 200px;
        width: 300px;
        padding-bottom: 3px;

    }
</style>

<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
    var marker;

    function initialize() {
        //26.7078014,25.8117374,6z


        var store_loc_lat = $('#store_loc_lat').val();
        var store_loc_lon = $('#store_loc_lon').val();


        if(store_loc_lat && store_loc_lon){

            var latlng = new google.maps.LatLng(store_loc_lat,store_loc_lon);

        }else {

            var latlng = new google.maps.LatLng(30.17837864237516,31.425393842806784);

        }

        var myOptions = {
            zoom: 6,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            mapTypeControl: false,
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);


        marker = new google.maps.Marker({
            position: latlng,
            map: map,
            animation: google.maps.Animation.DROP,
        });

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);

            //alert( 'Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng() );

            $("#store_loc_lat").val(event.latLng.lat());

            $("#store_loc_lon").val(event.latLng.lng());

        });

        function placeMarker(location) {

            if (marker == undefined){
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    animation: google.maps.Animation.DROP,
                });

                //console.log(location);

            }
            else{
                marker.setPosition(location);
            }
            map.setCenter(location);

        }

    }

</script>
</head>


<body onload="initialize()">
<div id="map_canvas"></div>
</body>
</html>